<div class="container">
    <h1>
        <%= title %>
    </h1>
    <% if (messages && messages.length> 0) { %>
        <div class="flash-messages">
            <%- messages() %>
        </div>
        <% } %>
            <% if (errors && errors.length> 0) { %>
                <ul class="notice">
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
                    <div class="form-container">
                        <form action="/review/update" method="post" class="form">
                            <div class="form-group">
                                <p><strong>Review Date:</strong>
                                    <%= review_date.toLocaleDateString() %>
                                </p>
                                <label for="review_text">Review Text:</label>
                                <textarea id="review_text" name="review_text"><%= review_text || '' %></textarea>
                            </div>
                            <input type="hidden" name="review_id" value="<%= review_id || '' %>">
                            <input type="hidden" name="inv_id" value="<%= inv_id || '' %>">
                            <input type="submit" value="Update Review" class="submit-button">
                        </form>
                        <p><a href="/account" class="submit-button">Back to Account</a></p>
                    </div>
</div>